{% load qr_code %}

<div>
  ARTWORK EDITION
  <ul>
    <li>Id: {{artwork_edition.id}}</li>
      <li>Edition Number: {{artwork_edition.edition_number}}</li>
  </ul>

  <div style="width: 100%; margin: 0 auto; margin-top: 50px; text-align: center;">
    <div style="margin: 0 auto; width: fit-content; padding: 0 20px; border: 1px solid;">
      <p>{% qr_from_text data size="10" image_format="png" error_correction="L" %}</p>
    </div>
    <div style="width: 100%; margin: 0 auto; text-align: center; color: gray;">
      <h5 style="margin-bottom: 0;">code: {{ certificate_qr_code.code }}</h5>
      <pre>{{ data }}</pre>
      {% if is_generate %}
        <h3 style="color: red; margin-top: 70px;">Generated new QR code</h3>
      {% endif %}
    </div>
  </div>
</div>

<script>
  console.log(`JSON is: ${'{{ data|safe }}'}`);
  console.log('Object:', JSON.parse('{{ data|safe }}'));
</script>
